<html>
<link rel="stylesheet" type="text/css"   href="/css/style.css">

<h1> <%= title %> </h1>
    <body>

        <h2>Workouts</h2>
        
        <table style="width:75%" align="center">
            <tr>
                <th>Date</th>
                <th>Time Spent On Workout</th>
            </tr>
            <tr>
                <td>02/01/20</td>
                <td>1hr05min</td>
            </tr>
            <tr>
                <td>03/01/20</td>
                <td>55min</td>
            </tr>
        </table>
        
    </body>


</html>
