<html>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            align-self: auto;
        }
        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>

<h1> <%= title %> </h1>
    <body>

        <h2>Workouts</h2>
        
        <table style="width:75%">
            <tr>
                <th>Date</th>
                <th>Time Spent On Workout</th>
            </tr>
            <tr>
                <td>02/01/20</td>
                <td>1hr05min</td>
            </tr>
            <tr>
                <td>03/01/20</td>
                <td>55min</td>
            </tr>
        </table>
        
    </body>


</html>
